<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>{{ page_title }}</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="master-content">
<div class="container">
<div class="grid">
<section class="grid__col--60 grid__col--push10" role="header" id="header">
<h1><img src="bpa-logo.png" height="64">{{ main_header_1 }}</h1>
<h2>{{ main_header_2 }}</h2>
</section>
<section class="grid__col--60 grid__col--push10" role="main" id="table">
<table style = "width:100%">
{{ table_body }}
</table></section></div></div></div>
Last processed: {{ last_processed }}
<h2><p>* - data model fit + upload complete</h2>
</body></html>
